.client{
    background: white;
}

.client_text{
   padding: 100px 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}

.client_text  p {
    color: red;
}

.client_count{
    margin-top: 40px;
}

.client_count  h1{
    font-weight: 700;
}

.client_text h2{
    font-size: 42px;
    font-weight: 700;
}

.client_text span{
    font-size: 14px;
}

.client_count p{
    font-size: 10px;
    color: grey;
}