.Nav_bgcolor{
    background: black;
    padding: 20px 0;
}

.main{
    background: black;
}

.main_text{
   padding: 180px 0;
    align-items: center;
    justify-content: center;

}

.main_text h1{
    font-size: 60px;
    font-weight: 600;
}

.center_text{
    text-align: center;
    color: white;
}